<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Thumbnail Configurations</title>
  <style>
    .thumbnail {
      line-height: 0;
    }
    .thumbnail:hover {
      background: #FF0000;
    }
  </style>
</head>
<body>
  <h1>Thumbnail Configurations</h1>
  <h2>Source</h2>
  <p>{{ source.name }}</p>
  <p><img src="{{ source.url }}" width="{{ source.width }}" height="{{ source.height }}"></p>
{% load thumbnails %}
{% for config in configuration_list %}
  {% get_thumbnail source config force_generation=True %}
  <h2>Thumbnail: {{ config.key }}</h2>
  <p>{{ thumbnail.name }}</p>
  <p class="thumbnail" style="height:{{ config.height }}px; width:{{ config.width }}px">
    <img src="{{ thumbnail.url }}" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}">
  </p>
{% endfor %}
</body>
</html>
