include LICENSE
include MANIFEST.in
include README.md
recursive-include tests *
recursive-include yepes/fixtures *
recursive-include yepes/locale *
recursive-include yepes/static *
recursive-include yepes/templates *
recursive-include yepes/contrib/*/fixtures *
recursive-include yepes/contrib/*/locale *
recursive-include yepes/contrib/*/static *
recursive-include yepes/contrib/*/templates *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
