<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Thumbnail Test</title>
  <style>
    .shape {
      background:#FF0000;
      display:inline-block;
      line-height:0;
    }
  </style>
</head>
<body>
  <h1>Thumbnail Test</h1>
  <h2>Source</h2>
  <p>{{ source.name }}</p>
  <p><img src="{{ source.url }}" width="{{ source.width }}" height="{{ source.height }}"></p>
{% load thumbnails %}
{% for config in configuration_list %}
  {% get_thumbnail source config %}
  <h2>Thumbnail: {{ config.key }}</h2>
  <p>{{ thumbnail.name }}</p>
  <p><span class="shape" style="width:{{ config.width }}px; height:{{ config.height }}px">
    <img src="{{ thumbnail.url }}" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}">
  </span></p>
{% endfor %}
</body>
</html>
